---
import type { HTMLAttributes } from "astro/types";

import { tabsList } from "./variants";

type Props = Omit<HTMLAttributes<"div">, "role">;

const { class: className, ...rest } = Astro.props;
---

<div
  class={tabsList({ class: className })}
  data-tabs-list
  role="tablist"
  {...rest}
  data-slot="tabs-list"
>
  <slot />
</div>
